<form method="POST" action="<%= "/add/" + (store._id ? store._id : '') %>">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= store.name %>" />
  <br>
  <label for="description">Description</label>
  <input type="text" name="description" value="<%= store.description %>" />
  <% 
  const choices = ['Wifi', 'Open Late', 'Family Friendly'] 
  const tags = store.tags || []
  %>
  <ul>
    <% choices.forEach(function(choice) { %>
    <li>
      <input type="checkbox" id="<%= choice %>" value="<%= choice %>" name="tags"
        <%= tags.includes(choice) ? "checked": "" %> />
      <label for="choice"><%= choice %></label>
    </li>
    <% }); %>
  </ul>
  <input type="submit" value="Save" class="button" />
</form>
