<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/flash'); %>
    <main>
        <div class="jumbotron">
            <h1><%= title %></h1>
            <% const theStore = typeof store != 'undefined' ? store : {} %>
            <%- include('../partials/storeForm', {store: theStore}); %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>
